@model UserViewModel

<!-- Page Contents -->

<h4 class="mb-xlg mt-md">@UserResources.ProfilePictureLabel</h4>

<fieldset>

	<div class="form-group">

		<div class="col-md-offset-3 col-md-8">
			<input id="imageFileInputProfile" name="imageFile" type="file" class="hidden" accept="image/*" data-msg-error-title="@UserResources.UploadErrorMessageTitle" />
			<a href="#" class="add-extra-data pb-xs pr-xs upload-image-profile" tabindex="0">
				<i class="fa fa-upload mr-xs"></i>@UserResources.UploadImageLabel
			</a>
			<small class="uploading-status-profile hidden"><i class="fa fa-spinner fa-pulse mr-xs"></i>@UserResources.UploadSendingLabel</small>
			<span class="help-block">Maximum file size @Model.ImageUploadMaxLengthInBytes.ToByteSizeLabel()</span>
		</div>

	</div>

</fieldset>

<hr class="dotted small">

<h4 class="mb-xlg">@UserResources.PersonalInformationLabel</h4>

<fieldset>

	<div class="form-group">
		@Html.LabelFor(model => model.Name, new { @class = "col-md-3 control-label" })
		<div class="col-md-8">
			@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Gender, new { @class = "col-md-3 control-label" })
		<div class="col-md-8">
			@Html.EnumDropDownListFor(model => model.Gender, new { @class = "form-control" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Email, new { @class = "col-md-3 control-label" })
		<div class="col-md-8">
			@Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
		</div>
	</div>

    <div class="form-group">
        
        <label class="col-md-3 control-label">UserName </label>

        <div class="col-md-8 alert-warning">

            <span class="strong alert-warning"> @Model.UserName</span>

        </div>
    </div>


	<div class="form-group hidden">
		@Html.LabelFor(model => model.UserName, new { @class = "col-md-3 control-label" })
       

		<div class="col-md-8 alert-warning">

            <span class="strong alert-warning" > @Model.UserName</span>

			@Html.TextBoxFor(model => model.UserName, new { @class = "form-control"  })
			<span class="help-block">@UserResources.UserNameHint</span>
		</div>
	</div>

</fieldset>

@*<hr class="dotted tall">

<h4 class="mb-xlg">@UserResources.SocialMediaProfilesLabel</h4>*@

@*<fieldset>

	<div class="form-group">
		@Html.LabelFor(model => model.GitHubLink, new { @class = "col-md-3 control-label" })
		<div class="col-md-8">
			@Html.TextBoxFor(model => model.GitHubLink, new { @class = "form-control", @Placeholder = "https://github.com/you" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.TwitterLink, new { @class = "col-md-3 control-label" })
		<div class="col-md-8">
			@Html.TextBoxFor(model => model.TwitterLink, new { @class = "form-control", @Placeholder = "https://twitter.com/you" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.LinkedInLink, new { @class = "col-md-3 control-label" })
		<div class="col-md-8">
			@Html.TextBoxFor(model => model.LinkedInLink, new { @class = "form-control", @Placeholder = "https://linkedin.com/in/you" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.FacebookLink, new { @class = "col-md-3 control-label" })
		<div class="col-md-8">
			@Html.TextBoxFor(model => model.FacebookLink, new { @class = "form-control", @Placeholder = "http://facebook.com/you" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.InstagramLink, new { @class = "col-md-3 control-label" })
		<div class="col-md-8">
			@Html.TextBoxFor(model => model.InstagramLink, new { @class = "form-control", @Placeholder = "https://instagram.com/you" })
		</div>
	</div>

</fieldset>*@

@*<hr class="dotted tall">

<h4 class="mb-xlg">@UserResources.AboutYourselfLabel</h4>*@

@*<fieldset class="mb-xlg">

	<div class="form-group">
		@Html.LabelFor(model => model.Biography, new { @class = "col-md-3 control-label" })
		<div class="col-md-8">
			@Html.TextAreaFor(model => model.Biography, new { @class = "form-control", @rows = 3 })
		</div>
	</div>

</fieldset>*@

<div class="panel-footer">
	<div class="row">
		<div class="col-md-8 col-md-offset-3 text-right">
			<button type="submit" class="btn btn-primary">@UserResources.SaveLabel</button>
		</div>
	</div>
</div>
