@model ArticleViewModel

@{
    var datePickerFormat = Globalization.RegionCulture.DateTimeFormat.ShortDatePattern.ToLowerCaseString();
    var timePickerMeridiem = !Globalization.Is24HoursTimeFormat;
}

<!-- Page Contents -->

<div class="mt-lg mb-xlg">

    <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                <div class="input-group">
                    @Html.DropDownListFor(model => model.CategoryId, Model.Categories, string.Empty, new { @class = "form-control" })

                </div>
            </div>
        </div>



    <div class="form-group">
        <label class="col-md-3 control-label">
            @Html.DisplayNameFor(model => model.ImageBlobId)
            <br />
            <span class="text-muted text-sm">Max file size @Model.ImageUploadMaxLengthInBytes.ToByteSizeLabel()</span>
            <br />
            <a href="#" class="add-extra-data pb-xs pr-xs upload-image-article" tabindex="0">
                <i class="fa fa-folder-open"></i> @LocationResources.UploadImageLabel
            </a>
            <br />
            <small class="uploading-status-article hidden"><i class="fa fa-spinner fa-pulse mr-xs"></i>@LocationResources.UploadSendingLabel</small>
        </label>
        <div class="col-md-6">
            <input id="imageFileInputArticle" name="imageFile" type="file" class="hidden" accept="image/*" data-msg-error-title="@LocationResources.UploadErrorMessageTitle" />
            <img id="thumbPreviewArticle" class="img-responsive" src="@Url.Image(Model.ImageBlobName, Model.Title, width: 160, height: 182)" />
        </div>
    </div>




    <div class="form-group">
        @Html.LabelFor(model => model.Title, new { @class = "col-md-3 control-label" })
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="icon"><i class="fa fa-arrow-right"></i></span>
                </span>
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            </div>
        </div>
    </div>
  

    <script src="/scripts/ckeditor/ckeditor.js"></script>
    <script src="/scripts/ckfinder/ckfinder.js"></script>


    @Html.TextAreaFor(model => model.Body, new { @class = "form-control", style = "height: 500px", @id = "body2" })

    <p></p>  


</div>
