@model EventTrackingTypeIndexViewModel

<!-- Meta -->

@{
    Model.PageLabel = "Эвенты";
    Model.SectionLabel = "Запросы на обновление статусов";
}

<!-- Page Sections -->

@section breadcrumb_items {
    <li><span>@Model.SectionLabel</span></li>
}

@section page_styles {
    @Styles.Render(LocationsIndexStyles.BundleVirtualPath)
}

@section page_scripts {
    @Scripts.Render(LocationsIndexScripts.BundleVirtualPath)
}

@section page_scripts_init {
    @Scripts.Render(TagIndexScriptsInit.BundleVirtualPath)
}

<!-- Page Contents -->

    <h3 class="mt-none">EventTrackingType</h3>

    <p>EventTrackingType</p>

<section class="panel mt-md">

    <div class="panel-body">

        <table id="tagTable" class="table table-hover">
            <thead>
                <tr>

                    <th>#</th>
                    <th>@TagResources.Name</th>
                    <th>EventTrackingId</th>                     
                    <th>clientOrderNr</th>
                    <th>clientCodeInternal</th>
                    <th>clientParcelNr</th>
                    <th>dpdOrderNr</th>
                    <th>dpdParcelNr</th>
                    <th>eventNumber</th>
                    <th>eventCode</th>
                    <th>eventName</th>
                    <th>reasonCode</th>
                    <th>reasonName</th>
                    <th>eventDate</th>                  

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EventTrackingTypes)
                {
                    var editUrl = Url.Action(nameof(TagController.Edit), nameof(TagController).RemoveControllerSuffix(), new { @id = item.Id });

                <tr data-item-id="@item.Id" data-item-label="@item.Name">
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.EventTrackingId</td>
                    <td>@item.clientOrderNr</td>
                    <td>@item.clientCodeInternal</td>
                    <td>@item.clientParcelNr</td>
                    <td>@item.dpdOrderNr</td>
                    <td>@item.dpdParcelNr</td>
                    <td>@item.eventNumber</td>
                    <td>@item.eventCode</td>
                    <td>@item.eventName</td>
                    <td>@item.reasonCode</td>
                    <td>@item.reasonName</td>
                    <td>@item.eventDate</td>

              
                </tr>
                }
            </tbody>
        </table>

    </div>

</section>

<!-- Delete Dialog -->
<div class="modal-dialog mfp-hide" id="tagDeleteDialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@TagResources.DeleteDialogTitle</h4>
        </div>
        <div class="modal-body">
            @Html.Raw(
                string.Format(
                    TagResources.DeleteDialogTemplateMessage,
                    "<strong class=\"item-label\"></strong>"
                )
            )
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link cancel">@LocationResources.CancelLabel</button>
            <button type="button" class="btn btn-danger confirm">@LocationResources.ConfirmLabel</button>
        </div>
    </div>
</div>
